*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'montserrat';
}
body
{
    background: #333;
}
.middle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card
{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front, .back
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.5s linear;
}
.front img
{
    height: 75%;
}
.front
{
    transform: perspective(600px) rotateY(0deg);
}
.back
{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
    border-radius: 10px;
}
.back-content
{
    color: #2c3e50;
    text-align: center;
    width: 90%;
    font-weight: 1500;
    font-size: 20px;
}
.sm
{
    margin: 20px 0;
}
.sm a
{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 20px;
    transition: 0.1s;
}
.sm a:hover
{
    background: #2c3e50;
    border-radius: 50%;
    color: #fff;
}
.card:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}